<h1>Projects</h1>

<%= render "application/sidebar" %>

<% @projects.each do |p| %>
  <p><%= link_to p.name, project_path(p.id) %><p>
<% end %>

<%= link_to "New project", new_project_path %>

<%= render "application/logout" %>
