<% if @developer_projects || @manager_projects %>
  <h1>Sidebar</h1>
  <div>
    <%= content_tag(:p, "Manager Projects") %>
    <% @manager_projects.each do |p| %>
      <p> <%= link_to p.project.name, project_path(p.project_id) %> </p>
    <% end %>
  </div>
  <div>
    <%= content_tag(:p, "Developer Projects") %>
    <% @developer_projects.each do |p| %>
      <p> <%= link_to p.project.name, project_path(p.project_id) %> </p>
    <% end %>
  </div>
<% end %>
